<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xee">

    <application>
        <activity
            android:name="com.xee.auth.AuthenticationActivity" />
        <activity
            android:name="com.xee.auth.RegisterActivity" />
    </application>
</manifest>
